    <footer>
        <div class="container">
        <h3 class="footer__title">Alibazon</h3>
        <p class="footer__copyright">Copyright &copy; 2022</p>
        </div>
    </footer>
</body>
</html>